/*====================Estilo del INDEX======================*/
/* Colores para el restaurante */
body {
    background-color: #FAF3E0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #8B0000;
}
.navbar-brand, .nav-link {
    color: #ffffff !important;
    font-weight: bold; /* Agregado para texto en negrita */     
}
.navbar-brand:hover, .nav-link:hover {
    color: #FAF3E0 !important;
}

/* Sección de Inicio */
.hero {
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: #ffd700;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

/* Secciones de contenido */
h2 {
    color: #8B0000;
}

.container p, label {
    color: #333;
    text-align: center; /* Justificar texto */
}

/* Estilos de imagen */
.img-fluid {
    max-width: 100%; /* Asegura que las imágenes sean responsivas */
    height: auto; /* Mantiene la proporción de las imágenes */
}

/* Ajustes específicos para imágenes */
#valor-img {
    max-width: 90%; /* Ajuste para la imagen de la propuesta */
    height: auto;
    border: auto;
}

/* Beneficios */
.benefit-img {
    max-width: 300px; /* Ajuste de tamaño de las imágenes de beneficios */
    height: auto;
    margin: auto; /* Centrar imágenes */
}

/* Botones */
.btn-primary {
    background-color: #FFD700;
    border: none;
    color: #8B0000;
}
.btn-primary:hover {
    background-color: #FFC107;
    color: #8B0000;
}

/* Footer */
footer {
    background-color: #8B0000;
    color: #FAF3E0;
}

/*====================Estilo del SEDES======================*/
body {
    background-color: #FAF3E0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #800B00;
}
.navbar-brand, .nav-link {
    color: #ffffff !important;
    font-weight: bold; /* Agregado para texto en negrita */
}
.navbar-brand:hover, .nav-link:hover {
    color: #FAF3E0 !important;
}

.hero {
    background-image: url('fonda.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    color: #8B0000;
}

.container p, label {
    color: #333;
}

.table {
    border: 2px solid #8B0000; /* Marco para la tabla */
}

.table th, .table td {
    border: 1px solid #8B0000; /* Marco para las celdas */
}

.table th {
    background-color: #8B0000; /* Color de fondo para el encabezado */
    color: #ffffff; /* Color del texto del encabezado */
    text-align: center; /* Centrar el texto */
}

.fila1 {
    background-color: #fcff5f; /* Color para fila 1 */
}

.fila2 {
    background-color: #b5fae3; /* Color para fila 2 */
}

.fila3 {
    background-color: #ffbdff; /* Color para fila 3 */
}

footer {
    background-color: #8B0000;
    color: #ffffff;
}

/*====================Estilo del COMENTA======================*/
body {
    background-color: #FAF3E0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #8B0000;
}
.navbar-brand, .nav-link {
    color: #ffffff !important;
    font-weight: bold; /* Agregado para texto en negrita */
}
.navbar-brand:hover, .nav-link:hover {
    color: #FAF3E0 !important;
}

.hero {
    background-image: url('comenta.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    color: #8B0000;
}

.container p, label {
    color: #333;
}

.btn-primary {
    background-color: #FFD700;
    border: none;
    color: #8B0000;
}
.btn-primary:hover {
    background-color: #FFC107;
    color: #8B0000;
}

footer {
    background-color: #8B0000;
    color: #FAF3E0;
}